<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/css/font-awesome.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-17317206-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  </head>
  <body>
    <header>
       <nav>
        <ul class="icons navigator">
          <li class="navigator"><i class="icon-ok"></i><a href="#projects">Projects</a></li>
          <li class="navigator"><i class="icon-ok"></i><a href="#talks">Talks</a></li>
          <li class="navigator"><i class="icon-ok"></i><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <section id="biography">
      <div class="content left">
        <h1>Bienvenido!</h1>
        <p>Me llamo Miguel Olivares y soy un desarrollador español nacido en Madrid y actualmente viviendo en Valencia.</p>
        <p>Estudié ingeniería informática en la Universidad Autónoma de Madrid.</p>
        <p>Como programador me apasiona utilizar lenguajes dinámincos principalmente Python y estar al tanto de los proyectos de moda del momento. Como toda persona también odio cosas, por ejemplo: Metodologías ágiles mal aplicadas, java, bases de datos relacionales y muchas otras cosas!</p>
        <p>Actualmente estoy trabajando para <a href="http://reviewpro.com/"> ReviewPro </a> donde formo parte del equipo de backend. Entre otras tecnologías, he usado Cassandra, ElasticSearch o Solr.</p>
        <p></p>
      </div>
      <div class="subcontent right">
        <img src="../static/img/avatar.jpg">
      <div>
    </section>
    <section id='projects'>
      <div class="content right">
        <h1>Proyectos</h1>
        <p>Soy un progamador que utiliza proyectos Open Source a diario. Por eso, cada vez que desarrollo algún proyecto o herramienta que considero que puede ser útil a otras personas, no dudo en compartirlo ;)</p>
      </div>
      <div class="subcontent left">
        <h2>Mis proyectos:</h2>
        <ul class="icons">
          <li>
            <i class="icon-ok"></i>
            <a href="https://github.com/RedTuna/mysolr">mysolr</a>
          </li>
          <li>
            <i class="icon-ok"></i>
            <a href="https://github.com/moliware/solr_cli">solr_cli</a>
          </li>
          <li>
            <i class="icon-ok"></i>
            <a href="https://github.com/moliware/pyunitex">pyunitex</a>
          </li>
          <li>
            <i class="icon-ok"></i>
            <a href="https://github.com/moliware/dicts">dicts</a>
          </li>
        </ul>
      </div>
    </section>
    <section id='talks'>
      <div class="content left">
        <h1>Charlas</h1>
        <p>Pese a no ser un gran difusor, he dado algunas charlas compartiendo mi experiencia sobre algún tema.</p>
        <p>Puedes consultar mi perfil en speakerdeck (<a href="http://speakerdeck.com/u/moliware/">@moliware</a>).
      </div>
      <div class="subcontent right">
        <h2>Últimas charlas:</h2>
        <ul class="icons">
          <li>
            <i class="icon-ok"></i>
            <a href="http://speakerdeck.com/u/moliware/p/introduccion-a-mongodb-y-springdata">Introduction to MongoDB and SpringData</a>
          </li>
        </ul>
      </div>
    </section>
    <section id='contact'>
      <div class="content right">
        <h1>Contacto</h1>
        <p>Me gustan los nuevos retos así que si tienes algún proyecto o idea que quieras compartir comingo o necesitas ayuda y crees que te puedo ser útil, contáctame!</p>
      </div>
      <div class="subcontent left">
        <ul class="icons">
          <li><i class="icon-envelope-alt"></i><a href="maito:miguel@moliware.com">miguel@moliware.com</a></li>
          <li><i class="icon-twitter"></i><a href="https://twitter.com/moliware" target="_blank">@moliware</a></li>
          <li><i class="icon-github"></i><a href="https://github.com/moliware" target="_blank"> @moliware </a></li>
          <li><i class="icon-linkedin"></i><a href="https://www.linkedin.com/in/moliware" target="_blank">moliware</a></li>
          <li><i class="icon-google-plus"></i><a href="https://plus.google.com/108194285362579621252" target="_blank">moliware</a></li>
        </ul>
      </div>
    </section>
    </body>
</html>