<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/css/font-awesome.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="shortcut icon" href="{{ url_for('.static', filename='img/favicon.png') }}" />
    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-17317206-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  </head>
  <body>
    <header>
       <nav>
        <ul class="icons navigator">
          <li class="navigator"><i class="icon-ok"></i><a href="#projects">{{ gettext('Projects') }}</a></li>
          <li class="navigator"><i class="icon-ok"></i><a href="#talks">{{ gettext('Talks') }}</a></li>
          <li class="navigator"><i class="icon-ok"></i><a href="#contact">{{ gettext('Contact') }}</a></li>
        </ul>
      </nav>
    </header>
    <section id="biography">
      <div class="content left">
        <h1>{{ gettext('Welcome!') }}</h1>
        <p>{{ gettext('bio.p1') }}</p>
        <p>{{ gettext('bio.p2') }}</p>
        <p>{{ gettext('bio.p3') }}</p>
        <p>{{ gettext('bio.p4') }}</p>
      </div>
      <div class="subcontent right">
        <img src="../static/img/avatar.jpg">
      <div>
    </section>
    <section id='projects'>
      <div class="content right">
        <h1>{{ gettext('Projects') }}</h1>
        <p>{{ gettext('projects.p1') }}</p>
        <p>{{ gettext('projects.p2') }}</p>
      </div>
      <div class="subcontent left">
        <h2>{{ gettext('My projects:') }}</h2>
        <ul class="icons">
          <li>
            <i class="icon-ok"></i>
            <a href="https://github.com/RedTuna/mysolr">mysolr</a>
          </li>
          <li>
            <i class="icon-ok"></i>
            <a href="https://github.com/moliware/solr_cli">solr_cli</a>
          </li>
          <li>
            <i class="icon-ok"></i>
            <a href="https://github.com/moliware/pyunitex">pyunitex</a>
          </li>
          <li>
            <i class="icon-ok"></i>
            <a href="https://github.com/moliware/dicts">dicts</a>
          </li>
        </ul>
      </div>
    </section>
    <section id='talks'>
      <div class="content left">
        <h1>{{ gettext('Talks') }}</h1>
        <p>{{ gettext('talks.p1') }}</p>
        <p>{{ gettext('talks.p2') }}</p>
      </div>
      <div class="subcontent right">
        <h2>{{ gettext('Last talks:') }}</h2>
        <ul class="icons">
          <li>
            <i class="icon-ok"></i>
            <a href="http://speakerdeck.com/u/moliware/p/introduccion-a-mongodb-y-springdata">Introduction to MongoDB and SpringData</a>
          </li>
        </ul>
      </div>
    </section>
    <section id='contact'>
      <div class="content right">
        <h1>{{ gettext('Contact') }}</h1>
        <p>{{ gettext('contact.p1') }}</p>
      </div>
      <div class="subcontent left">
        <ul class="icons">
          <li><i class="icon-envelope-alt"></i><a href="maito:miguel@moliware.com">miguel@moliware.com</a></li>
          <li><i class="icon-twitter"></i><a href="https://twitter.com/moliware" target="_blank">@moliware</a></li>
          <li><i class="icon-github"></i><a href="https://github.com/moliware" target="_blank"> @moliware </a></li>
          <li><i class="icon-linkedin"></i><a href="https://www.linkedin.com/in/moliware" target="_blank">moliware</a></li>
          <li><i class="icon-google-plus"></i><a href="https://plus.google.com/108194285362579621252" target="_blank">moliware</a></li>
        </ul>
      </div>
    </section>
    </body>
</html>